## balances acuiferos en DHS

In [1]:
import pandas as pd

In [6]:
fmasub = r'E:\off\phdhs2127\H2OG\20200924_balances_masub\balances_masub_21-27_v005.xlsm'
sheet_masub = 'balan_masub21-27'
skiprows=1
usecols01 = 'A:B,M:X'
converters = {'masa_id': str}

In [12]:
dfmasub2127 = pd.read_excel(fmasub, sheet_name=sheet_masub, skiprows=skiprows, usecols=usecols01,
                            converters=converters, engine='openpyxl')

In [18]:
dfmasu1acu = dfmasub2127[dfmasub2127["Num acu.1"]==1]

In [20]:
dfmasu1acu.head(10)

,masa_id,masa_nombre,Num acu.1,e_lluvia.1,e_retornos_riego.1,e_sub.1,e_cauce.1,contador,s_bombeos.1,BTOT,s_cauce.1,s_mar.1,s_sub.1,balan.1
0,070.001,CORRAL RUBIO,1,2.00,0.10,1.20,0.0,0.07,3.30,3.3,0.00,0.0,0.0,0.00
1,070.002,SINCLINAL DE LA HIGUERA,1,3.00,0.10,0.00,0.0,3.86,3.90,3.9,0.00,0.0,0.0,-0.80
4,070.005,TOBARRA-TEDERA-PINILLA,1,5.50,0.30,6.00,0.0,12.19,12.20,12.2,1.54,0.0,0.0,-1.94
5,070.006,PINO,1,0.80,0.00,0.00,0.0,0.32,0.40,0.3,0.40,0.0,0.0,0.00
6,070.007,CONEJEROS-ALBATANA,1,1.75,0.93,1.15,0.0,4.70,7.60,7.6,0.50,0.0,0.0,-4.27
8,070.009,SIERRA DE LA OLIVA,1,1.17,0.00,0.95,0.0,0.09,2.26,1.1,0.00,0.0,0.0,-0.14
12,070.013,MORATILLA,1,0.41,0.09,0.00,0.0,0.02,0.50,0.5,0.00,0.0,0.0,0.00
13,070.014,CALAR DEL MUNDO,1,14.50,0.00,0.00,0.0,0.00,0.00,0.0,14.50,0.0,0.0,0.00
16,070.017,ACUÍFEROS INFERIORES DE LA SIERRA DEL SEGURA,1,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.00
17,070.018,MACHADA,1,75.00,0.00,0.00,0.0,0.00,0.00,0.0,75.00,0.0,0.0,0.00